.inputBox{
    display: flex;
}
.tableBox{
    display: flex;
    margin-top: 10px;
}
#popDiv,#popDiv2{
    display: none;
    /* background-color: #fff; */
    border-radius: 5px;
    z-index: 3;
    width: 300px;
    min-height: 290px;
    position:fixed;
    padding-bottom: 10px;
    left: 50%;
    top: 30%;
    /* top: 200px; */
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.addBox{
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}
.addBox input,
.searchBox input{
    width: 60%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 1px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.addBox span{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.submit{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}
.submit input{
    background: #fff;
    color: #666;
    cursor: pointer;
    font-weight: 500;
    margin-right: 10px;
}
.addBox .radio{
    width: 15px;
    margin-left: 6px;
}

/* 关闭按钮样式 */
#popDiv .close a,#popDiv2 .close a {
    text-decoration: none;
    color: #fafafa;
    padding-right: 10px;
}
/* 弹出界面的关闭按钮 */
#popDiv .close,#popDiv2 .close{
    text-align: right;
    /* width: 200px; */
    /* margin-right: 10px; */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(209, 46, 57);
}
#popDiv p,#popDiv2 p{
    text-align: center;
    font-size: 20px;
    
}

/* Table Head */
table tr th {
    background-color: rgb(209, 46, 57);
    color: #fff;
    font-weight: 500;
    border-bottom-width: 0;
    min-width: 100px;
    }
    
    /* Column Style */
    table td {
    color: #000;
    }
    /* Heading and Column Style */
    table tr, table th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 46, 57);
    }
    
    /* Padding and font style */
    table td, table th {
    padding: 5px 10px;    
    text-align: center;
    }

    /* ------------------------- */
    .search{
        display: flex;
        /* height: 140px; */
        max-width: 1080px;
        margin-bottom: 20px;
        border: 1px solid #666;
        padding: 30px;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-right: 1px solid rgba(255,255,255,0.2);
    }
    .searchBox{
        float: left;
        display: flex;
        max-height: 30px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .searchBox input{
        display: flex;
        width: 80%;
        min-width: 90px;
    }
    .searchBox input[type="button"],
    .searchBox input[type="reset"]
    {
        position: absolute;
        max-width: 50px;
        left: 800px;
        bottom: 20px;
    }
    .search input[type="reset"]{
        margin-left: 100px;
    }